form{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;;
  padding: 10px;
  background: #E6E6FA;
}

.row-bottom-margin {
  margin-bottom:0;
}

.feedback{
  background: green;
  color: white;
  text-align: center;
}
